{% extends 'registration/Signin.html'%}

{% block form %}
<form method="post" class="form-signin" action="{% url 'lrms:login' %}">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
        {% if form.errors %}
            <p class="alert-danger">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login.</p>
            {% endif %}
        {% endif %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'lrms:password_reset' %}">Lost password?</a></p>
<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>

{% endblock %}