{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Base{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'owner/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'owner/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'owner/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'owner/css/landing-page.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Land Record Management System</a>
        <a class="btn btn-primary" href="#">Sign In</a>
      </div>
    </nav>

      {% block content %}
        <h3>Bare Base</h3>
      {% endblock %}

    <!-- Footer-->
    <footer class="my-auto position-static blockquote-footer text-center text-success">
        <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
        <div class="inner ">
          <p>Copyright <a href="">Elysian</a>, by <a href="">Front Dev Team</a>.</p>
        </div>
      </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'owner/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'owner/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
