<!DOCTYPE html>
{% load static %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>Welcome To LRMS</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/cover/cover.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">LRMS</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'lrms:home' %}">Home</a>
              <!-- add link to company website contact page -->
            <a class="nav-link" href="tel: +260974020545">Contact Elysian</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Land Records Management System</h1>
        <p class="lead">Land Record Management System (LRMS) is an electronic record system for storege and retrival of all land 
        records kept by Zambian Councils. This allows for transparency in land and lease management.</p>
        <p class="lead">
          <a href="{% url 'lrms:login' %}" class="btn btn-lg btn-secondary">Login</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Copyright <a href="">Elysian</a>, by <a href="">Front Dev Team</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'bootstrap/cover/jquery-3.3.1.slim.min.js.download' %}"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">

    </script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'bootstrap/cover/popper.min.js.download' %}"></script>
    <script src="{% static 'bootstrap/cover/bootstrap.min.js.download' %}"></script>
  
  </body>
</html>