{% extends 'lrms/base.html' %}
{% block content %}

    <div class="col-sm-12">
    <section class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-block" style="padding-left: 5%; padding-right: 5%;">
                    <h3 class="card-title text-center">Adding Property for: {{ owner }}</h3> <hr style="height: auto">
                    <form class="form" action="" method="post">
                        {{ form.non_feild_errors }}
                        {% csrf_token %}

                        <div class="form-group row">
                            {{ form.holding_number.errors }}
                            <label class="col-md-3 col-form-label-lg">{{ form.holding_number.label_tag }}</label>
                            <div class="col-md-9">
                            {{ form.holding_number }}
                            </div>
                        </div>
<hr style="height: auto">
                        <div class="form-group row">
                            {{ form.type.errors }}
                            <label class="col-md-3 col-form-label-lg">{{ form.type.label_tag }}</label>
                            <div class="col-md-9">
                            {{ form.type }}
                            </div>
                        </div>
<hr style="height: auto;">
                        <div class="form-group row">
                            {{ form.area.errors }}
                            <label class="col-md-3 col-form-label-lg">{{ form.area.label_tag }}</label>
                            <div class="col-md-9">
                            {{ form.area }}
                            </div>
                        </div>
<hr style="height: auto">
                        <div class="form-group row">
                            {{ form.successor.errors }}
                            <label class="col-md-3 col-form-label-lg">{{ form.successor.label_tag }}</label>
                            <div class="col-md-9">
                            {{ form.successor }}
                            </div>
                        </div>
<hr style="height: auto">
                        <div class="form-group row">
                            {{ form.successor_relation.errors }}
                            <label class="col-md-3 col-form-label-lg">{{ form.successor_relation.label_tag }}</label>
                            <div class="col-md-9">
                            {{ form.successor_relation }}
                            </div>
                        </div>
                        <input class="btn-primary btn-success" type="submit" value="Add Property" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
